@import url("../WEB Lolcats Clock/reset.css");
body{
    background-color: #04A1BF;
    font: 16px/24px "Open Sans", sans-serif;
    color: white;
    text-align: center;
}
h1{
    font-weight: 900;
    font-size: 3em;
}
h3:nth-of-type(1){
    color: blueviolet;
}
h3:nth-of-type(2){
    color: brown;
}
h3:nth-of-type(3){
    color: chocolate;
}
#input{
    border-radius: 5px;
    border: none;
    width: 60%;
    height: 35px;
    min-width: 400px;
    padding: 0 10px;
    margin: 0 auto;
}
#input::placeholder{
    font-weight: bold;
    padding-left: 5px;
}
#button{
    width: 35px;
    height: 36px;
    /* vertical-align: middle; */
    border-radius: 5px;
    border: none;
    vertical-align: -12px;
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
}
li{
    list-style: none;
    background-color: #4EB9CD;
    font-weight: 800;
    width: 50%;
    border-radius: 5px;
    border: solid 2px black;
    margin: 10px auto;
    padding: 10px 0;
}
li > button{
    color: rgb(6, 28, 32);
    font-size: 20px;
    border: none;
    background: none;
    float: right;
    cursor: pointer;
}
.delete{
    display: none;
}